# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List tools for Data Science
* Basic formating styles and table
* Commenting in jyputer

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. numpy
3. ggplot
4. scipy
5. Tensorflow
6. Seaborn

Few most commanly used tools are as follows:

|Data Science Tools|Use|
|------------------|----|
|MySQL|Data Management|
|PostgreSQL|Data Management|
|NoSQL|Data Management|
|Nodered|Data integration and deployment|
|Pixiedust|Data visualization|
|Tensorflow.js|Model deployment|
|AI fairness 360|Model monitoring|
|Github|Code assest mamagment|
|Apache Atlas|Data assest management|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author Tejas Vishnu Pawar